.messenger {
	display: flex;
	height: calc(100vh - 50px);
}

.chatMenu {
	flex: 3.5;
}
.chatBox {
	flex: 5.5;
}

.chatBoxBottom {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chatSubmitButton {
	width: 70px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: teal;
	color: white;
}

.chatMessageInput {
	width: 80%;
	height: 50px;
	padding: 10px;
	border-radius: 5px;
}
.chatOnline {
	flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
	padding: 10px;
	height: 100%;
}

.chatMenuInput {
	width: 90%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid gray;
}

.chatMenuInput:focus {
	outline: none;
}

.chatBoxWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chatBoxTop {
	overflow-y: scroll;
	height: 100%;
	padding-right: 10px;
}

.noConversation {
	font-size: 50px;
	margin-top: 20px;
	color: rgb(202, 201, 201);
	cursor: default;
}

@media screen and (max-width: 430px) {
	.messenger {
		flex-direction: column;
	}
	.chatMenu {
		position: sticky;
		top: 50px;
	}
	.chatMenuInput {
		display: none;
	}
	.hidden {
		display: none;
	}
	.chatMenuWrapper {
		padding: 0;
	}
}
