.post {
	width: 100%;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: 30px 0;
}

.postWrapper {
	padding: 10px;
}

.postTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postTopLeft {
	display: flex;
	align-items: center;
}

.postProfileImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}
.postUsername {
	margin: 0 10px;
	font-weight: 500;
	font-size: 15px;
}
.postDate {
	font-size: 12px;
}
.postCenter {
	margin: 20px 0;
}
.postImg {
	margin-top: 5px;
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.postBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postBottomLeft {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.likeIcon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	cursor: pointer;
	color: #1775ee;
}

.dislikeIcon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	cursor: pointer;
	color: #1a539e;
}

.postLikeCounter {
	font-size: 15px;
}

.postCommentText {
	cursor: pointer;
}
